* {
  box-sizing: border-box;
  font-family: 'Noteworthy', sans-serif !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../img/mixit-wallpaper.jpg");
  background-size: cover;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.15em;
}
.wrapper, .home-panel, .information, .information-circle,.panel-info-playlist {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.home-panel {
  width: 90%;
  margin-top: 92px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.background-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.panel-home-player {
    display: flex;
    width: 100%;
}
