.panel-settings, .players, .main-panel, .separator {
	-webkit-transition: all ease-in 0.7s;
	-o-transition: all ease-in 0.7s;
	transition: all ease-in 0.7s;
}
.panel-settings {
}

.separator {
	width: 400px;
text-align: center;
}

input {
  background-color: transparent;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  color : red;
  border-bottom:1px solid red;
}
input:focus 		{ outline:none; }

label 				 {
  color:red;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:red;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:red;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:52%;
}
.bar:after {
  right:47%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:53%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:120px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:red; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:red; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:red; }
  to 	{ width:0; background:transparent; }
}
