.player-vevo {
  border : solid 20px #2196F3;
  width: 35%;
}
.player-panel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-top : 64px;
}
.player-container {
  width: 400px;
}
.player-information {
  background-color: #2196F3;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  flex-direction: column;
}
